@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&display=swap');

form {
    display: flex;
    justify-content: center;
}

form > * {
    margin: 0.5rem;
}

input {
    font-family: 'Roboto Flex', sans-serif;
}

input::placeholder {
    font-family: 'Roboto Flex', sans-serif;
}

input[type=submit] {
    border: 0;
    padding: 0.5rem 1rem;
    background: linear-gradient(to top, #33E0FF, #9198e5);
    color: #222;
    font-weight: 700;
    border-radius: 1rem;
}

.calender {
    flex-direction: column;
    font-family: 'Roboto Flex', sans-serif;
    max-width: 800px;
    margin: auto;
}


.arrow-left {
    display: flex;
    justify-content: center;
}

.arrow-right {
    display: flex;
    justify-content: center;
}

.calender-top {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 700;
}


.calender-top p {
    text-align: center;
}

.calender-day {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: black;
    color: white;
    border: #33E0FF solid 1px;
    font-weight: 700;
}

.calender-day div {
    text-align: center;

}

.calender-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: #33E0FF solid 1px;


}
.calender-dates div {
    border: #33E0FF solid 1px;
    text-align: center;

}